<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="HangfirePro" value="https://nuget.hangfire.io/nuget/hangfire-pro/v3/index.json" />
		<add key="HangfireAce" value="https://nuget.hangfire.io/nuget/hangfire-ace/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<HangfirePro>
			<add key="Username" value="VeeFriends" />
			<add key="ClearTextPassword" value="y5pjc3pcDEFprZZH" />
		</HangfirePro>
		<HangfireAce>
			<add key="Username" value="VeeFriends" />
			<add key="ClearTextPassword" value="y5pjc3pcDEFprZZH" />
		</HangfireAce>
	</packageSourceCredentials>
</configuration>
