
<div class="mb-16">
    <h2 class="text-5xl text-sky-900 font-semibold tracking-wide text-blue-900 text-center mb-8">Featured Raffle</h2>
    <div class="relative flex justify-center gap-y-16 gap-x-8 xs:px-8 px-4">

        <div class="w-6/12 flex-auto px-1 py-1 lg:max-w-none">

            <h2 class="mt-4 mb-8 font-display text-3xl font-bold tracking-tight text-blue-900">The Resilient Red Devil Raffle</h2>
            <ul class="mb-8">
                <li class="mb-[10px]">
                    <span class="grid grid-cols-1 lg:flex text-sm text-xs uppercase">
                        <span class="lg:flex-none lg:w-48 text-sky-500 font-semibold">
                            <i class="fa-regular fa-clock mr-3"></i>Start & End
                        </span>
                        <span class="pl-[25px] lg:pl-0 lg:flex-initial font-semibold">
                            5/11/22 5:55PM EST - 5/31/22 5:55PM EST
                        </span>
                    </span>
                </li>
                <li class="mb-[10px]">
                    <span class="grid grid-cols-1 lg:flex text-sm text-xs uppercase">
                        <span class="lg:flex-none lg:w-48 text-sky-500 font-semibold">
                            <i class="fa-solid fa-ticket mr-3"></i>Available Spots
                        </span>
                        <span class="pl-[25px] lg:pl-0 lg:flex-initial font-semibold">
                            1000
                        </span>
                    </span>
                </li>
                <li class="mb-[10px]">
                    <span class="grid grid-cols-1 lg:flex text-sm text-xs uppercase">
                        <span class="lg:flex-none lg:w-48 text-sky-500 font-semibold">
                            <i class="fa-solid fa-list-check mr-3"></i>Requirements
                        </span>
                        <span class="pl-[25px] lg:pl-0 lg:flex-initial font-semibold">
                            SERIES 1 RED DEVIL TOKEN
                        </span>
                    </span>
                </li>
                <li class="mb-[10px]">
                    <span class="grid grid-cols-1 lg:flex text-sm text-xs uppercase">
                        <span class="lg:flex-none lg:w-48 text-sky-500 font-semibold">
                            <i class="fa-solid fa-chart-line mr-3"></i>Status
                        </span>
                        <span class="pl-[25px] lg:pl-0 lg:flex-initial font-semibold">
                            IN PROGRESS
                        </span>
                    </span>
                </li>
            </ul>
            <em class="mt-1 text-slate-400 tracking-tight">553 people have entered this raffle</em>
        </div>

        <div class="w-6/12 flex-auto px-1 py-1 lg:max-w-none">
            <div class="group relative h-[17.5rem] transform overflow-hidden rounded-[0.25rem]">
                <div class="absolute top-0 left-0 right-4 bottom-6 rounded-3xl transition duration-300 group-hover:scale-95 xl:right-6"></div>
                <div class="absolute inset-0" style="">
                    <img alt="" sizes="(min-width: 1280px) 17.5rem, (min-width: 1024px) 25vw, (min-width: 768px) 33vw, (min-width: 640px) 50vw, 100vw" srcset="" src="https://res.cloudinary.com/nenvy-llc/image/upload/c_scale,f_auto,q_auto,w_350/v1651027379/series2/resilient-red-devil" width="1120" height="560" decoding="async" data-nimg="future" class="absolute inset-0 h-full w-full object-cover transition duration-300 group-hover:scale-110" style="color:transparent" />
                </div>

                <span class="absolute left-2.5 top-2.5 py-1.5 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-gray-200 rounded">
                    <span class="block text-slate-900">MAY</span>
                    <span class="block text-sky-500">11-31</span>
                </span>
            </div>
        </div>

    </div>
</div>
