<header id="hero" class="z-[1] bg-repeat mb-[2.5rem] relative max-h-[54.9375rem]">
    <div class="hero-wrap relative flex flex-col justify-end mx-auto max-w-9xl max-h-[54.9375rem] h-[46vw]">
        <div class="content absolute z-[1] block my-0 mx-auto top-[28vw] left-2/4 w-[80%]"> @*lg:max-w-[73.125rem]*@
            <h1>Win Big with Web3Raffle: The Premier Online Raffle for NFT Holders</h1>
            <p class="leading-8">
                Experience the excitement of raffles in the Web3 era with our transparent, safe, and state-of-the-art platform. 
                Join the Web3Raffle community and see if you have what it takes to come out on top.
            </p>
        </div>

        <div class="particles absolute block my-0 mx-auto left-2/4 top-0 h-[41.25rem] pointer-events-none select-none">
            <img class="particle particle-1" src="img/coin-1.png" alt="coin" style="--x: 0vw; --y: 33vw; width: 4.8vw; max-width: 5.75rem;">
            <img class="particle particle-2" src="img/coin-2.png" alt="coin" style="--x: 2vw; --y: 1vw; width: 5vw; max-width: 6.563rem;">
            <img class="particle particle-3" src="img/coin-3.png" alt="coin" style="--x: 18vw; --y: 8vw; width: 6.9vw; max-width: 8.25rem;">
            <img class="particle particle-4" src="img/coin-4.png" alt="coin" style="--x: 13vw; --y: 25vw; width: 4vw; max-width: 5.438rem;">
            <img class="particle particle-5" src="img/coin-5.png" alt="coin" style="--x: 5.5vw; --y: 41vw; width: 7vw;max-width: 8.438rem;">
            <img class="particle particle-6" src="img/coin-6.png" alt="coin" style="--x: 5vw; --y: 2.5vw; width: 9vw; max-width: 10.875rem;">
            <img class="particle particle-7" src="img/ticket-1.png" alt="ticket" style="--x: 6vw; --y: 20vw; width: 10.9vw; max-width: 13rem;">
            <img class="particle particle-8" src="img/ticket-2.png" alt="ticket" style="--x: 0.5vw; --y: 15vw; width: 12vw; max-width: 15.188rem;">
            <img class="particle particle-9" src="img/ticket-3.png" alt="ticket" style="--x: 4vw; --y: 41vw; width: 10.5vw; max-width: 12.813rem;">
        </div>

        <a href="/" class="video-link">
            <video id="video" class="absolute block my-0 mx-auto left-2/4 top-[-3vw]" preload="auto" autoplay loop muted playsinline>
                <source src="video/logo-webm.webm" type="video/webm" />
            </video>
        </a>

        <a href="/" class="logo-link">
            <img src="img/logo-large.png" id="hero-logo" class="absolute block my-0 mx-auto left-2/4 top-[5vw]" />
        </a>

    </div>
</header>