@page "/"
@using Web3raffle.Web.Client.Shared
@using Web3raffle.Web.Client.Shared.Layouts;

@layout BaseLayout

<PageTitle>Web3 Raffle</PageTitle>

<MainHero />

@*BODY*@
<main class="bg-white relative mx-auto pb-[10px]">

    @*FEATURE RAFFLE*@
   @* <FeatureRaffle />*@

    @*EXPLORE WEB3 RAFFLE*@
    <ExploreRaffle />

</main>
